<div class="row">
  <div class="col"></div>
  <div class="col-4">
    <div class="card mt-3">
      <div class="card-header">
        Login
      </div>
      <div class="card-body">
        <form action="/user/login" method="post">
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <input type="text" name="email" id="email" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <div class="input-group input-group-sm mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-sm">
                <i class="fas fa-key"></i>
              </span>
            </div>
            <input type="text" name="password" id="password" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
          </div>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
          <button type="submit" class="btn btn-primary">Login</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
