<ul class="list-unstyled">
  <li class="left-menu">
    <a href="/dummyusers">
      Users
    </a>
  </li>
  <li class="left-menu">
    <a href="/universities">
      Universities
    </a>
  </li>
</ul>